<!-- ============================================ -->
<!--                Call To Action                -->
<!-- ============================================ -->

<section id="cta-2443">
    <div class="cs-container">
        <div class="cs-content">
            <h2 class="cs-title">Let's Build It Right</h2>
            <div class="cs-flex">
                <p class="cs-text">
                    From residential driveways to commercial paving projects, we're committed to quality workmanship, honest service, and lasting results. Contact us today to schedule your free estimate.
                </p>
                <a href="" class="cs-button-solid">Call Now</a>
            </div>
        </div>
    </div>
    <picture class="cs-background">
        <!--Mobile Image-->
        <source media="(max-width: 600px)" srcset="https://roadtechpaving.nyc3.cdn.digitaloceanspaces.com/misc/BannerPave.webp">
        <!--Tablet and above Image-->
        <source media="(min-width: 601px)" srcset="https://roadtechpaving.nyc3.cdn.digitaloceanspaces.com/misc/BannerPave.webp">
        <img loading="lazy" decoding="async" src="https://roadtechpaving.nyc3.cdn.digitaloceanspaces.com/misc/BannerPave.webp" alt="tattoo face" width="1280" height="568">
    </picture>
</section>
                                