---
title: "Contact | Code Stitch Web Designs"
description: "Meta description for the page"
permalink: "/gallery/"
---

{% extends "layouts/base.html" %}

{% block head %}
    <link rel="stylesheet" href="/assets/css/gallery.css">
    <link rel="preload" as="image" href="{% getUrl "/assets/images/cabinets.jpg" | resize({ width: 640, height: 600 }) | avif %}"/>
    <link rel="preload" as="image" href="{% getUrl "/assets/images/construction.jpg" | resize({ width: 576, height: 640 }) | avif %}"/>
{% endblock %}

{% block body %}
<!-- ============================================ -->
<!--                     Banner                     -->
<!-- ============================================ -->

<section id="cta-1071">
    <div class="cs-container">
        <div class="cs-content">
            <div class="cs-flex">
                <span class="cs-topper">Get Our Services</span>
                <h2 class="cs-title">Let’s Get You Back On The Road Faster. Schedule Now!</h2>
            </div>
            <div class="cs-button-box">
                <a href="" class="cs-button-solid">Schedule Our Services</a>
                <a href="" class="cs-button-transparent">Contact Us</a>
            </div>
        </div>
    </div>
    <picture class="cs-background">
        <!--Mobile Image-->
        <source media="(max-width: 600px)" srcset="https://roadtechpaving.nyc3.cdn.digitaloceanspaces.com/misc/BannerPave.webp">
        <!--Tablet and above Image-->
        <source media="(min-width: 601px)" srcset="https://roadtechpaving.nyc3.cdn.digitaloceanspaces.com/misc/BannerPave.webp">
        <img loading="lazy" decoding="async" src="https://roadtechpaving.nyc3.cdn.digitaloceanspaces.com/misc/BannerPave.webp" alt="mechanic" width="1280" height="568">
    </picture>
</section>

<!-- ============================================ -->
<!--                   Gallery                    -->
<!-- ============================================ -->

<section id="gallery-44">
    <div class="cs-container">
        <div class="cs-content">
            <span class="cs-topper">Our Work</span>
            <h2 class="cs-title">See Our Asphalt Paving Projects</h2>
            <p class="cs-text">
                Take a look at some of our completed residential and commercial asphalt paving projects throughout New York's Capital Region. From new driveway installations and commercial parking lots to asphalt repairs and professional sealcoating, every project reflects our commitment to quality workmanship, attention to detail, and long-lasting results.            </p>
        </div>
        <ul class="cs-image-group">
            <!-- Image 1 -->
            <li class="cs-item">
                <picture class="cs-picture">
                    <source media="(max-width: 600px)" srcset="https://roadtechpaving.nyc3.cdn.digitaloceanspaces.com/gallery/residentialTwo.webp">
                    <source media="(min-width: 601px)" srcset="https://roadtechpaving.nyc3.cdn.digitaloceanspaces.com/gallery/residentialTwo.webp">
                    <img loading="lazy" decoding="async" src="https://roadtechpaving.nyc3.cdn.digitaloceanspaces.com/gallery/residentialTwo.webp" alt="fancy house" width="346" height="346">
                </picture>
            </li>
            <!-- Image 2 -->
            <li class="cs-item">
                <picture class="cs-picture">
                    <source media="(max-width: 600px)" srcset="https://roadtechpaving.nyc3.cdn.digitaloceanspaces.com/gallery/residentialTen.webp">
                    <source media="(min-width: 601px)" srcset="https://roadtechpaving.nyc3.cdn.digitaloceanspaces.com/gallery/residentialTen.webp">
                    <img loading="lazy" decoding="async" src="https://roadtechpaving.nyc3.cdn.digitaloceanspaces.com/gallery/residentialTen.webp" alt="modern house" width="346" height="346">
                </picture>
            </li>
            <!-- Image 3 -->
            <li class="cs-item">
                <picture class="cs-picture">
                    <source media="(max-width: 600px)" srcset="https://roadtechpaving.nyc3.cdn.digitaloceanspaces.com/gallery/residentialAfter.webp">
                    <source media="(min-width: 601px)" srcset="https://roadtechpaving.nyc3.cdn.digitaloceanspaces.com/gallery/residentialAfter.webp">
                    <img aria-hidden="true" loading="lazy" decoding="async" src="https://roadtechpaving.nyc3.cdn.digitaloceanspaces.com/gallery/residentialAfter.webp" alt="modern home at night" width="346" height="346">
                </picture>
            </li>
            <!-- Image 4 -->
            <li class="cs-item">
                <picture class="cs-picture">
                    <source media="(max-width: 600px)" srcset="https://roadtechpaving.nyc3.cdn.digitaloceanspaces.com/gallery/residentialEleven.webp">
                    <source media="(min-width: 601px)" srcset="https://roadtechpaving.nyc3.cdn.digitaloceanspaces.com/gallery/residentialEleven.webp">
                    <img aria-hidden="true" loading="lazy" decoding="async" src="https://roadtechpaving.nyc3.cdn.digitaloceanspaces.com/gallery/residentialEleven.webp" alt="modern home" width="346" height="346">
                </picture>
            </li>
            <!-- Image 5 -->
            <li class="cs-item">
                <picture class="cs-picture">
                    <source media="(max-width: 600px)" srcset="https://roadtechpaving.nyc3.cdn.digitaloceanspaces.com/gallery/residentialOne.webp">
                    <source media="(min-width: 601px)" srcset="https://roadtechpaving.nyc3.cdn.digitaloceanspaces.com/gallery/residentialOne.webp">
                    <img aria-hidden="true" loading="lazy" decoding="async" src="https://roadtechpaving.nyc3.cdn.digitaloceanspaces.com/gallery/residentialOne.webp" alt="appliance" width="346" height="346">
                </picture>
            </li>
            <!-- Image 6 -->
            <li class="cs-item">
                <picture class="cs-picture">
                    <source media="(max-width: 600px)" srcset="https://roadtechpaving.nyc3.cdn.digitaloceanspaces.com/gallery/TruckImg.webp">
                    <source media="(min-width: 601px)" srcset="https://roadtechpaving.nyc3.cdn.digitaloceanspaces.com/gallery/TruckImg.webp">
                    <img aria-hidden="true" loading="lazy" decoding="async" src="https://roadtechpaving.nyc3.cdn.digitaloceanspaces.com/gallery/TruckImg.webp" alt="modern home" width="346" height="346">
                </picture>
            </li>
        </ul>
        <a href="/services/" class="cs-button-solid">View All Services</a>
    </div>
</section>
                                
                             
{% endblock %}